:root {
  --iris: #4d5ae5;
  --nv: #2e2f42;
  --cloud: #f4f4fd;
  --wht: #fff;
  --slt: #434455;
  --ocean: #404bbf;
}

body {
  color: var(--slt);
  background-color: var(--wht);
  font-family: 'Roboto', sans-serif;
}

nav {
  font-weight: 500;
}

nav > .link {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.17em;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--iris);
  letter-spacing: 0.54px;
}

nav .link > .logo-studio {
  color: var(--nv);
}

nav .list .link {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--nv);
  background-color: var(--cloud);
}

nav .list .link:hover,
nav .list .link:focus {
  color: var(--ocean);
}

.logo-footer {
  font-family: 'Raleway', sans-serif;
  font-weight: 800;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--iris);
}

.logo-footer > .logo-studio {
  color: var(--cloud);
}

.list {
  list-style: none;
  font-weight: 500;
  font-size: 16px;
  text-decoration: none;
  color: var(--nv);
}

address {
  font-style: normal;
}

.address .list .link {
  font-style: normal;
  font-size: 16px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--slt);
  letter-spacing: 0.02em;
  text-decoration: none;
}

.address .list .link:hover,
.address .list .link:focus {
  color: var(--ocean);
}

.order-box {
  background-color: var(--nv);
}

.order-box-text {
  color: var(--wht);
  font-size: 56px;
  font-weight: 700;
  letter-spacing: 1.12px;
}

.order-box-button {
  background-color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.advantages h3 {
  color: var(--nv);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.advantages p {
  color: var(--slt);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

main h2 {
  color: var(--nv);
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

.ot li h3 {
  color: var(--nv);
  font-size: 20px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.4px;
}

.ot li p {
  color: var(--slt);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}

footer {
  background-color: var(--nv);
}

.text-footer {
  color: var(--cloud);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
.filter-item > li > button {
  background-color: var(--cloud);
  color: var(--iris);
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
  letter-spacing: 0.64px;
}

.filter-item > li > button:hover {
  background-color: var(--ocean);
  color: var(--wht);
}

.services h3 {
  color: var(--nv);
  font-size: 20px;
  font-weight: 500;
  line-height: 21.07em;
  letter-spacing: 0.4px;
  text-align: center;
}

.services p {
  color: var(--slt);
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0.32px;
}
